:root {
  --var-bg-gradient-light: #0a4270;
  --var-bg-gradient-dark: #020c20;
  --var-color-primary: darkorange;
  --var-color-secondary: #145a94;
  --var-color-title: white;
  --var-color-label: white;
  --var-bg-label: #004985;
  --var_color-input: black;
  --var-bg-input: white;
  --var-color-button: black;
  --var-color-text: #b8dfff;
}

body {
  padding: 10px;
  /* background: linear-gradient(135deg, #132d68 0%, #020c20 100%); */
  background: var(--var-bg-gradient-dark) linear-gradient(180deg, var(--var-bg-gradient-light) 0%, var(--var-bg-gradient-dark) 100%) no-repeat;
  font-size: 0.93rem;
}
h1 {
  font-size: 2rem !important;
  font-weight: 900;
  line-height: 140%;
  color: var(--var-color-title);
  text-shadow: 3px 3px 6px #000000;
}
h3 {
  font-size: 1.3rem !important;
  color: var(--var-color-title);
  text-shadow: 3px 3px 6px #000000;
}
h3 svg {
  font-size: 1.2rem !important;
  font-weight: 900;
  color: var(--var-color-primary);
}
p {
  color: var(--var-color-text);
}
.logo img {
  margin: 15px 0 0;
  width: 64px;
}
textarea.params {
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 1rem;
  line-height: 130%;
  color: black;
  resize: none;
  min-height: 110px;
}
div.motsCles {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
textarea#motsCles {
  margin: 0;
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 1.1rem;
  line-height: 130%;
  color: black;
  resize: none;
}
label.produit {
  background: var(--var-bg-label);
  color: var(--var-color-label);
  padding: 8px 10px;
  border-radius: 6px 0 0 6px;
  line-height: 1;
  font-weight: bold;
  margin: 0;
}
.champ {
  background-color: var(--var-bg-input);
  border-radius: 6px;
}
.champ svg {
  font-size: 1.3rem !important;
  margin: 5px;
}
input {
  border: none;
  color: var(--var-color-input);
  padding: 2px 10px;
  font-size: 1.1rem;
}
input:focus,
textarea:focus {
  outline: none;
}
button[type="submit"] {
  height: 100%;
  border: 0px solid var(--var-color-primary);
  border-radius: 6px;
  background: var(--var-color-primary);
  color: var(--var-color-button);
  font-weight: bold;
  font-size: 1.1rem;
  padding: 2px 8px;
}
button.copy,
button.resetProduct,
button.resetKeywords,
button.resetParams {
  height: 56px;
  border: none;
  background: var(--var-color-primary);
  border: 2px solid var(--var-color-primary);
  color: var(--var-color-button);
  font-weight: bold;
  font-size: 0.9rem;
  border-radius: 6px;
  white-space: nowrap;
  line-height: 0.9rem;
  padding: 2px 20px;
}
button.resetProduct,
button.resetKeywords,
button.resetParams {
  background: transparent;
  border: 2px solid var(--var-color-primary);
  color: var(--var-color-primary);
}
button svg {
  font-size: 1rem !important;
  font-weight: 900;
  /* height: 32px; */
}

div.toolbar label {
  margin: 0;
  line-height: 28px;
  color: var(--var-color-label);
}

div.toolbar select {
  height: 28px;
  background: var(--var-bg-label);
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  padding: 5px;
}

.copyright {
  background: #004985;
  color: var(--var-color-title);
  line-height: 1;
  padding: 10px 10px;
  border-radius: 4px;
  text-align: center;
}


/* Small devices (landscape phones, 576px and up) */
@media (max-width: 767.99px) {
  div.title,
  div.params,
  div.formulaire,
  div.resultats { 
    width: 100%; 
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  div.title,
  div.params,
  div.formulaire,
  div.resultats { 
    width: 50%; 
  }
}