$clr-bg-toolbar-light: #eee;  $clr-text-toolbar-dark: #246;
$clr-bg-toolbar-dark: #333;  $clr-text-toolbar-light: #bdf;

.kltr-bg-toolbar-light { background: $clr-bg-toolbar-light !important; }
.kltr-bg-toolbar-dark { background: $clr-bg-toolbar-dark !important; }
.kltr-text-toolbar-light { color: $clr-text-toolbar-light !important; }
.kltr-text-toolbar-dark { color: $clr-text-toolbar-dark !important; }

.bg-light { background: rgb(243,244,245) !important; }



